<CHAIN_LENGTH>
1
</CHAIN_LENGTH>
<ANTECEDENTS>
that 2
in 1
the 2
be 1
is 2
are 1
was 1
will 2
would 1
shall 1
should 1
can 1
could 2
has 1
have 2
had 1
do 1
did 1
does 1
done 1
un 1
une 1
le 1
la 1
el 1
al 1
</ANTECEDENTS>
<CONFIDENCE>
0.9
</CONFIDENCE>
<MIN_SPOTSIGS>
4
</MIN_SPOTSIGS>
<SPOTSIGS_RANGE>
1000
</SPOTSIGS_RANGE>
<MIN_IDF>
0.3
</MIN_IDF>
<MAX_IDF>
0.8
</MAX_IDF>
<LSH_K>
6
</LSH_K>
<LSH_L>
32
</LSH_L>
<MODE>
SPOTSIGS
</MODE>
<FORMAT>
TXT
<FORMAT>
